<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat app</title>

	<style>
		body{
			padding:0;
			margin:0;
			-webkit-box-sizing: border-box;
		}
		header{
			width:100%;
			margin:0;
			padding:0;
			text-align:center;
		}
		header ul li{
			display:inline-block;
			padding: 6px;
		}
		header ul li a{
			font-size: 18px;
			text-decoration:none;
			font-family:sans-serif;
			color:#75FFFF;
		}

		#Section{
			width: 40%;
			font-family:sans-serif;
			text-align:center;
			margin:0 auto;
			height: 500px;
			margin-top: 100px;
			color:#ccc;
		}
	</style>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/chat">Chat</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
	</header>

	<div id = "Section">
		<h1>Welcome to the home page!</h1>
	</div>
</body>
</html>